{{>loggedInNavBar}}

<div class="container">
  <div class="text-center">
    <h1>{{title}}</h1>
    <h6>By {{username}}</h6>
    <hr />
    <div class="p-4">{{body}}</div>
    <div class="card">
    <h3 class="card-header">Edit Post</h3>
    <form class="card-body edit-post-form">
        <label for="post-title" class="form-label">Title</label>
        <input name="post-title" type="text" value="{{post.title}}" class="form-input" />
       <div class="input-group">
  <span class="input-group-text">Content</span>
  <textarea class="form-control" aria-label="With textarea  name="content" type="text" value="{{post.content}}" class="form-input""></textarea>
</div>
<br>
        <button type="submit" class="btn btn-primary">Update Post</button>
        <button type="button" class="delete-post-btn btn btn-secondary">Delete Post</button>
    </form>
</div>
  </div>
  <hr />
  <div class="my-4">
    <h2 class="text-center">Comments</h2>
  
    
     
    <ul class="list-group">
      {{#each comments}}
        <li class="list-group-item">
          {{> comment}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div>
  <textarea class="form-control" aria-label="With textarea"  name="content" type="text" class="form-input"></textarea>
  <br>
  <div class="text-center"><button type="submit" class="btn btn-success">Add a comment</button></div>
  
  

 